.vs/Sales and Inventory System/FileContentIndex/8669ec3f-b531-47fa-b73f-44e7d04d164c.vsidx
.vs/Sales and Inventory System/FileContentIndex/bdde7550-9e92-4079-86aa-d8a0e8811378.vsidx
.vs/Sales and Inventory System/FileContentIndex/c59b8af0-d17a-41d0-8d7f-dfa865dc05f0.vsidx
